.text_2{
    margin-left: 1027px;
    margin-top: -1190px;
    font-size: 52px;
}
.center_text{
    margin-top: 1100px;
    margin-left: 265px;
    font-size: 30;

}

.font_1{
    color: orange;
    font-size: 60;
}

.tag_1{
    margin-top: -58px;
    margin-left: 75px;
}

.center_pare_1{
    margin-left: 74px;
}

.font_2{
    color: orange;
    font-size: 60;
}

.tag_2{
    margin-top: -58px;
    margin-left: 75px;
}

.center_pare_2{
    margin-left: 74px;
}

.font_3{
    color: orange;
    font-size: 60;
}

.tag_3{
    margin-top: -58px;
    margin-left: 75px;
}

.center_pare_3{
    margin-left: 74px;
}

.heading_1{
    margin-left: 1194px;
    margin-top: -372px;
    font-size: 25;
}